/* Import the Geotica 2012 font */
@import url('https://db.onlinewebfonts.com/c/b00fe7efa287784ec9a2c72135414a23?family=Geotica+2012');
/* Import the Roboto Flex font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Flex', sans-serif;
}

#root {
  flex: 1;
  background-color: #415A77;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0D1B2A;
  padding: 10px 20px;
  color: #ffffff;
}

.logo {
  font-size: 40px;
  font-family: 'Geotica 2012', sans-serif;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}


.footer {
  display: flex;
  background-color: #0D1B2A;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  position: relative;
  color: #ffffff;
}
